In [9]:
#python data type and examples....Olanrewaju Olayinka

In [15]:
#Numbers - Interger or float

20

20

In [16]:
type (20)

int

In [17]:
-30

-30

In [18]:
type(-30)

int

In [19]:
200 + 500

700

In [20]:
35.1

35.1

In [21]:
type (35.1)

float

In [22]:
35.1 + 700

735.1

In [23]:
type(735.1)

float

In [26]:
#Basic Arithmetic

2*2

4

In [27]:
20/3

6.666666666666667

In [28]:
#floor division //
20//3

6

In [29]:
# modulo %
20%3

2

In [30]:
#raise to power

4**3

64

In [31]:
#square root
64*0.5

32.0

In [32]:
#BODMAS

30*2/40+5-1

5.5

In [33]:
30*2/(40+5-1)

1.3636363636363635

In [20]:
#variable assignment

print("Now let's do variable assignment:")
price=1000
tax = 200.50
print(price)
print(tax)
Total = price + tax
Total

Now let's do variable assignment:
1000
200.5

1200.5

In [36]:
Name = input ("What is your name?: ")
Birth_Year = input("Which year were you born?: ")
Age = 2019 - int(Birth_Year)
print ("Now you are: ")
print(Age)

What is your name?: Python
Which year were you born?: 1980
Now you are:
39

In [8]:
print("James Obiora Result: ")
Test_1 = float(input("Waht is James' Score in Test 1? "))
Test_2 = float(input("Waht is James' Score in Test 2? "))
Attendance = float(input("Waht is James' Attendance Score? "))
Exam_Score = float(input("Waht is James' Score in the exam? "))
James_Total = float(Test_1 + Test_2 + Attendance + Exam_Score)
print("James total score")
James_Total

James Obiora Result:
Waht is James' Score in Test 1? 8
Waht is James' Score in Test 2? 7
Waht is James' Attendance Score? 9
Waht is James' Score in the exam? 50
James total score

74.0

In [11]:
print("James Obiora Result: ")
Test_1 = float(input("James Score's in Test 1? "))
Test_2 = float(input("James Score's in Test 2? "))
Attendance = float(input("James Attendance Score? "))
Exam_Score = float(input("James Score's in the exam? "))
James_Total = float(Test_1 + Test_2 + Attendance + Exam_Score)
print("James Obiora Total Score: ")
print(James_Total)
print("James Average Score: ")
James_Total/4

James Obiora Result:
James Score's in Test 1? 8
James Score's in Test 2? 7
James Attendance Score? 9
James Score's in the exam? 50
James Obiora Total Score:
74.0
James Average Score:

18.5

In [19]:
type(price)

int

In [21]:
type(Total)

float

In [22]:
type(tax)

float

In [27]:
print("My name is: \nOlanrewaju Olayinka")

My name is:
Olanrewaju Olayinka

In [28]:
len("Olanrewaju")

10

In [29]:
len("Olayinka")

8

In [30]:
len("Olanrewaju Olayinka")

19

In [31]:
#slicing and indexing
First_Name = input("what is your first name? ")
Last_Name = input("what is your last name? ")
Middle_Name = input("what is your middle name? ")
Full_Name = First_Name + " " + Middle_Name + " " + Last_Name
Full_Name

what is your first name? Olayinka
what is your last name? Olanrewaju
what is your middle name? Sola

'Olayinka Sola Olanrewaju'

In [32]:
len(Full_Name)

24

In [33]:
Full_Name[0:8]

'Olayinka'

In [34]:
Full_Name[9:13]

'Sola'

In [35]:
Full_Name[14:]

'Olanrewaju'

In [36]:
Full_Name[0::4]

'Oi aaw'

In [37]:
Full_Name[0::2]

'Oaik oaOarwj'

In [38]:
Last_Name[0::3]

'Onwu'

In [43]:
number = "12345678910"
number

'12345678910'

In [42]:
number[2::2]

'35790'

In [44]:
Full_Name[-2]

'j'

In [45]:
Full_Name.swapcase()

'oLAYINKA sOLA oLANREWAJU'

In [46]:
Full_Name.split()

['Olayinka', 'Sola', 'Olanrewaju']

In [47]:
Full_Name.encode()

b'Olayinka Sola Olanrewaju'

In [48]:
Full_Name

'Olayinka Sola Olanrewaju'

In [50]:
# print format
First_Name = input("what is your first name? ")
Middle_Name = input("what is your middle name? ")
Last_Name = input("what is your last name? ")
Full_Name = First_Name + " " + Middle_Name + " " + Last_Name
Full_Name
print("my first name is {} and last name is {}. So my full name is {}".format(First_Name, Last_Name, Full_Name))

what is your first name? Olayinka
what is your middle name? Sola
what is your last name? Olanrewaju
my first name is Olayinka and last name is Olanrewaju. So my full name is Olayinka Sola Olanrewaju

In [56]:
# placeholder format
First_Name = input("what is your first name? ")
Middle_Name = input("what is your middle name? ")
Last_Name = input("what is your last name? ")

Full_Name = First_Name + " " + Last_Name
Full_Name

print("My firs name is %s and my last name is %s" %(First_Name,Last_Name))

what is your first name? Olayinka
what is your middle name? Sola
what is your last name? Olanrewaju
My firs name is Olayinka and my last name is Olanrewaju

In [64]:
# placeholder format with full name
First_Name = input("what is your first name? ")
Middle_Name = input("what is your middle name? ")
Last_Name = input("what is your last name? ")

Full_Name = First_Name + " " + Middle_Name + "" + Last_Name
Full_Name

print("My firs name is %s middle name is %s and my last name is %s. So my full name is %s" %(First_Name, Middle_Name,Last_Name,Full_Name))

what is your first name? Olayink
what is your middle name? Sola
what is your last name? Olanrewaju
My firs name is Olayink middle name is Sola and my last name is Olanrewaju. So my full name is Olayink SolaOlanrewaju

In [65]:
# f format
First_Name = input("what is your first name? ")
Middle_Name = input("what is your middle name? ")
Last_Name = input("what is your last name? ")
Full_Name = First_Name + " " + Middle_Name + " " + Last_Name
Full_Name
print(f"my first name is {First_Name}, Middle name is {Middle_Name} and last name is {Last_Name}. So my full name is {Full_Name}")
print("Thank You!")

what is your first name? Olayinka
what is your middle name? Sola
what is your last name? Olanrewaju
my first name is Olayinka, Middle name is Sola and last name is Olanrewaju. So my full name is Olayinka Sola Olanrewaju
Thank You!

In [67]:
#list
client = ["Shell", "Mobil", "MTN", "EUNISELL", "NNPC", "DADEM", "TOTAL", "FLOURISH"]
client

['Shell', 'Mobil', 'MTN', 'EUNISELL', 'NNPC', 'DADEM', 'TOTAL', 'FLOURISH']

In [68]:
client [0::]

['Shell', 'Mobil', 'MTN', 'EUNISELL', 'NNPC', 'DADEM', 'TOTAL', 'FLOURISH']

In [69]:
len(client)

8

In [70]:
client [0:-1]

['Shell', 'Mobil', 'MTN', 'EUNISELL', 'NNPC', 'DADEM', 'TOTAL']

In [74]:
client [0::3]

['Shell', 'EUNISELL', 'TOTAL']

In [76]:
client.append('OYA GROUP')
client

['Shell',
 'Mobil',
 'MTN',
 'EUNISELL',
 'NNPC',
 'DADEM',
 'TOTAL',
 'FLOURISH',
 'OYA GROUP',
 'OYA GROUP']

In [ ]:
client.reverse()

In [97]:
client

['OYA GROUP',
 'FLOURISH',
 'TOTAL',
 'DADEM',
 'NNPC',
 'EUNISELL',
 'MTN',
 'Mobil',
 'Shell']

In [98]:
client.pop()

'Shell'

In [90]:
OYA_GROUP = 4000000
MTN = 300000
REVENUE = OYA_GROUP + MTN
print(REVENUE)

4300000

In [92]:
PC=[1,2,3,4,5,6,7,8,9,10]
PC

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [95]:
PC.reverse()
PC

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [96]:
PC[0::2]

[10, 8, 6, 4, 2]

In [106]:
#dictionaries
dict = {"key1":"value1", "key2":"value2","keyn":"valuen"}
dict

{'key1': 'value1', 'key2': 'value2', 'keyn': 'valuen'}

In [108]:
State_of_Origin={"Osun":"Olayinka", "Oyo":"Dayo", "Enugu":"James", "Victor":"Imo", "Osun":"Kola", "Abia":"David"}
State_of_Origin

{'Osun': 'Kola',
 'Oyo': 'Dayo',
 'Enugu': 'James',
 'Victor': 'Imo',
 'Abia': 'David'}

In [109]:
State_of_Origin["Oyo"]={"Yemi","Akin","Tayo","Funke"}
State_of_Origin

{'Osun': 'Kola',
 'Oyo': {'Akin', 'Funke', 'Tayo', 'Yemi'},
 'Enugu': 'James',
 'Victor': 'Imo',
 'Abia': 'David'}

In [111]:
State_of_Origin["Oyo"]

{'Akin', 'Funke', 'Tayo', 'Yemi'}

In [112]:
State_of_Origin["Osun"]

'Kola'

In [114]:
State_of_Origin["Enugu"]

'James'

In [118]:
State_of_Origin.values()

dict_values(['Kola', {'Akin', 'Funke', 'Tayo', 'Yemi'}, 'James', 'Imo', 'David'])

In [122]:
Std_data={"Name" : "James Obiora", "Age": 20, "Class":"SS3", "Address":"Ogba"}
Std_data

{'Name': 'James Obiora', 'Age': 20, 'Class': 'SS3', 'Address': 'Ogba'}

In [124]:
Std_data["Registered Subjects"]={"Maths","English","Biology","Physics","Chemistry"}
Std_data

{'Name': 'James Obiora',
 'Age': 20,
 'Class': 'SS3',
 'Address': 'Ogba',
 'Registered Subjects': {'Biology',
  'Chemistry',
  'English',
  'Maths',
  'Physics'}}

In [130]:
Std_data.values()

dict_values(['James Obiora', 20, 'SS3', 'Ogba', {'Biology', 'Physics', 'English', 'Maths', 'Chemistry'}])

In [131]:
Std_data.keys()

dict_keys(['Name', 'Age', 'Class', 'Address', 'Registered Subjects'])

In [132]:
Std_data.items()

dict_items([('Name', 'James Obiora'), ('Age', 20), ('Class', 'SS3'), ('Address', 'Ogba'), ('Registered Subjects', {'Biology', 'Physics', 'English', 'Maths', 'Chemistry'})])

In [138]:
Std_data["Registered Subjects"]

{'Biology', 'Chemistry', 'English', 'Maths', 'Physics'}

In [139]:
#Tuple seqience of ordered item, number or strings, which cannot be modified. E.g days of the week, months of the year, DOB,etc

tub = (86,87,88,89,90,"Mon","Tue","Wed")
tub

(86, 87, 88, 89, 90, 'Mon', 'Tue', 'Wed')

In [145]:
#unlike list where you can substitute value as shown below, you can't do that with tub
age_day = [86,87,88,89,90, "Mon", "Tue", "Wed"]
age_day

[86, 87, 88, 89, 90, 'Mon', 'Tue', 'Wed']

In [151]:
age_day[-1] = "Thur"
age_day

[85, 87, 88, 89, 90, 'Mon', 'Tue', 'Thur']

In [152]:
tub[0] = 83

TypeError: 'tuple' object does not support item assignment

In [156]:
len(tub)

8

In [1]:
#Booleans True or False value
1==1

True

In [2]:
1==2

False

In [3]:
2>=1

True

In [4]:
4<3

False

In [5]:
type(1==2)

bool

In [8]:
"Olayinka" == "olayinka"

False